html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

img {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}