/* 头部模块 */

body {
    overflow-y: hidden;
}

.m-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: rgb(36, 36, 36);
}

.top-wrap {
    position: relative;
    display: flex;
    width: 1100px;
    height: 100%;
    /* background: rgb(156, 167, 74); */
}

.logo {
    margin: 0;
    padding: 0;
    width: 176px;
    height: 100%;
    /* background: rgb(165, 79, 108); */
}

.logo a {
    display: inline-block;
    width: 155px;
    height: 34px;
    background: url(../images/topbar.png)no-repeat 0 -18px;
    margin-top: 20px;
    font-size: 0;
    line-height: 34px;
}


/* .m-nav {
    width: 560px;
} */

.m-nav li {
    height: 100%;
}

.m-nav li:last-child {
    position: relative;
}

.m-nav li:last-child::after {
    position: absolute;
    width: 26px;
    height: 13px;
    top: 17px;
    right: -15px;
    content: '';
    color: red;
    background: url(../images/topbar.png)no-repeat -192px 0;
}

.m-nav li a {
    display: inline-block;
    padding: 0 20px;
    line-height: 70px;
    text-align: center;
    color: #fff
}

.m-nav li a:hover {
    background: rgb(0, 0, 0);
}

.frist-nav {
    background: rgb(0, 0, 0);
}

.m-search {
    position: relative;
    width: 158px;
    height: 32px;
    /* background: palegreen; */
    margin-left: 90px;
}

.input-search {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 12px;
}

.m-search::before {
    position: absolute;
    top: 29px;
    left: 10px;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: '';
    background: url(../images/topbar.png) no-repeat -10px -108px;
}

.m-creation {
    position: absolute;
    top: 20px;
    right: 0;
    display: inline-block;
    width: 90px;
    height: 32px;
    font-size: 12px;
    color: rgb(204, 204, 204);
    line-height: 32px;
    text-align: center;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 20px;
}

.m-creation:hover {
    border: 1px solid rgb(139, 139, 139);
    color: rgb(255, 255, 255);
}

.btn-login {
    position: absolute;
    top: 17px;
    right: -55px;
    display: inline-block;
    color: rgb(120, 120, 120);
    width: 30px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.btn-login:hover {
    text-decoration: underline;
    color: rgb(153, 153, 153);
}


/* 子导航栏 */

.m-subnav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background: rgb(194, 12, 12);
}

.n-wrap {
    width: 1100px;
    height: 100%;
    /* background: pink; */
}

.nav {
    margin-left: 192px;
}

.nav li {
    /* background: cornflowerblue; */
    line-height: 35px;
}

.nav li .z-list {
    display: inline-block;
    font-size: 14px;
    padding: 0 30px;
    color: #fff;
}

.nav li .z-list em {
    font-style: normal;
}

.nav li .z-list:hover {
    text-decoration: underline;
    /* background: rgb(155, 9, 9);
    padding: 0 14px;
    border-radius: 10px; */
}

.first-em {
    background: rgb(155, 9, 9);
    padding: 0 14px;
    border-radius: 10px;
}


/*主体页面  */

.g-main {
    width: 100%;
}


/* .g-main::-webkit-scrollbar {
    display: none;
} */


/* 底部模块 */


/* 版权展示 */

.m-ft {
    width: 100%;
    height: 40px;
    border-top: 1px solid rgb(211, 211, 211);
    margin-bottom: 18px;
    margin-top: -4px;
}

.m-btmbar {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 58px;
    background: rgb(47, 47, 47);
}

.wrap {
    display: flex;
    width: 980px;
    height: 100%;
    align-items: center;
    /* background: pink; */
}

.btns {
    width: 137px;
}

.btns a {
    display: inline-block;
    background-image: url(../images/playbar.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 27px;
    background-position-y: -132px;
}

.prv {
    background-position-x: -2px;
}

.btns .ply {
    width: 32px;
    height: 32px;
    background-position: -2px -206px;
    margin: 0 8px;
}

.pause {
    width: 32px;
    height: 32px;
    background-position: -2px -167px !important;
    margin: 0 8px;
}

.nxt {
    background-position-x: -82px;
}

.btns .ply:hover {
    background-position: -42px -206px;
}

.prv:hover {
    background-position-x: -32px;
}

.nxt:hover {
    background-position-x: -112px;
}

.head .msk {
    display: inline-block;
    width: 34px;
    height: 35px;
    background: url(../images/playbar.png)no-repeat 0 -80px;
    margin-right: 25px;
}

.head .msk img {
    width: 33px;
    height: 33px;
}

.play {
    display: flex;
    width: 608px;
    height: 37px;
}

.words {
    /* background: red; */
    margin-top: -5px;
    margin-bottom: 10px;
}

.words a:hover {
    text-decoration: underline;
}

.u-name {
    color: #fff;
}

.n-name {
    color: rgb(155, 155, 155);
    font-size: 14px;
    margin-left: 15px;
}

.words span {
    font-size: 12px;
}

.m-pbar {
    position: relative;
    width: 493px;
    height: 9px;
    background: rgb(83, 83, 83);
    border-radius: 5px;
}

.f-tdn {
    position: absolute;
    top: -4px;
    left: -8px;
    display: block;
    width: 17px;
    height: 17px;
    background: url(../images/iconall.png)no-repeat -3px -253px;
    cursor: pointer;
    z-index: 1;
}

.f-tdn:hover {
    background: url(../images/iconall.png)no-repeat -3px -283px;
}

.bar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: rgb(199, 12, 12);
    border-radius: 5px;
}

.j-time {
    line-height: 53px;
    margin-left: 10px;
    color: rgb(161, 161, 161);
    margin-right: 10px;
}

.oper a {
    display: inline-block;
    background-image: url(../images/playbar.png);
    background-repeat: no-repeat;
    background-position-y: -166px;
    width: 18px;
    height: 18px;
}

.icn-add {
    background-position-x: -92px;
}

.icn-share {
    background-position-x: -118px;
}

.oper a:hover {
    background-position-y: -192px;
}

.crtl {
    margin-left: 20px;
}

.crtl a {
    display: inline-block;
    background-image: url(../images/playbar.png);
    background-repeat: no-repeat;
    background-position-x: -4px;
    width: 21px;
    height: 21px;
}

.icn-vol {
    background-position-y: -249px;
}

.icn-loop {
    background-position-y: -345px;
}

.crtl .icn-list {
    position: relative;
    width: 55px;
    background-position: -45px -71px;
    font-size: 12px;
    color: rgb(78, 78, 78);
    line-height: 21px;
    text-align: center;
    margin-top: 0;
}

.crtl a:hover {
    background-position-x: -33px;
}

.crtl .icn-list:hover {
    background-position: -45px -101px;
}

.icn-list i {
    position: absolute;
    top: -1px;
    right: 8px;
    font-style: normal;
    text-align: center;
}